[Unit]
Description=mqtt to serial daemon
After=mosquitto.service
RuntimeDirectory=nagf2rpi

[Service]
ExecStart=/home/gartenbahn/mqtt2serial/mqtt2seriald.py start
ExecStop=/home/gartenbahn/mqtt2serial/mqtt2seriald.py stop

[Install]
WantedBy=multi-user.target
